body {
    padding-bottom: 3rem;
    background-color: #dadada;

  }

*{
  color: rgb(29, 29, 29)!important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}